.App {
  font-family: Arial, sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 120%;
}

.monatBezahlung {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.inputTextfield input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin:0;
}

.inputTextfield input,
.berechnenButton button,
.reset button {
  background-color: rgb(175, 172, 172);
  padding: 0;
  border: 0;
  width: 120px;
  height: 24px;
  margin-left: 5px;
}

body {
  background: linear-gradient(to right, #5886fa, #9ba7e0, #a7aef5);
}

.berechnenButton button,
.reset button {
  width: 300px;
  height: 50px;
  font-size: 120%;
  margin-top: 13px;
}


.berechnenButton button,
.reset button {
  background-color: rgb(175, 172, 172);
  padding: 0;
  border: 0;
  width: 240px;
  height: 40px;
  margin-left: 5px;
  cursor: pointer;
}

.invisible{
  display: none;
  padding: 0;
  border: 0;
  width: 0px;
  height: 0px;
}

