.container {
  background: linear-gradient(to right, #5886fa, #9ba7e0, #a7aef5);
  padding-bottom: 100%;
}

#output {
  text-decoration: underline;
}

.page {
  font-family: Arial, sans-serif;
  text-align: center;
  font-size: 120%;
}

.Datum {
  width: 5%;
}

.resetButton {
  margin-top: 10px;
}

.calculateButton button,
.resetButton button,
.anmeldeButton button {
  background-color: rgb(175, 172, 172);
  width: 300px;
  height: 50px;
}

.notSelected {
  opacity: 0.5;
  pointer-events: none;
}

.hidden {
  opacity: 0;
  pointer-events: none;
}
